<%- include('partials/header') -%>

    <header class="d-flex justify-content-center bg-warning pt-3 text-bg-primary">
        <h1>Posts</h1>
    </header>
    <main class="d-flex flex-column min-vh-100 bg-warning bg-opacity-50 align-items-center pt-3 ">
        <button type="button" class="btn btn-warning fw-bold mb-4" id="btn-new">New Post</button>
        <div class="container text-center">
            <div class="row" id="container-row">
                <% posts.forEach(post=> { %>
                    <article class="col-6 d-flex justify-content-center mb-3" data-id="<%= post.id%>">
                        <div class="card" style="width: 60vw;">
                            <img src="<%= post.imageUrl %>" class="card-img-top" alt="nuevo titulo">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= post.title %>
                                </h5>
                                <p class="card-text">
                                    <%= post.content %>
                                </p>
                                <div>
                                    <button class="btn btn-primary" id="btn-edit">Edit</button>
                                    <button type="" class="btn btn-danger" id="btn-delete">Delete</button>
                                </div>
                            </div>
                        </div>
                    </article>

                    <% }) %>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formulario">
                            <div class="mb-3">
                                <label for="inputTitle" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="inputTitle">
                            </div>
                            <div class="mb-3">
                                <label for="inputContent" class="col-form-label">Content:</label>
                                <input type="text" class="form-control" id="inputContent">
                            </div>
                            <div class="mb-3">
                                <label for="inputImageUrl" class="col-form-label">ImageUrl:</label>
                                <input type="url" class="form-control" id="inputImageUrl">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="btn-save"></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <%- include("partials/footer") -%> 